@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=block');

:root {
    --black: #0F1115;
    --white: #F5F5F5;
    --dark: #29303D;
    --red: #FF2965;
    --blue: #00FFD8;
    --yellow: #FFF208;

    --measure: 60ch;

    --z-controls: 1;

    --gap-x-small: min(1vw, .5em);
    --gap-small: min(2vw, 1em);
    --gap-base: min(4vw, 2em);
    --gap-large: min(6vw, 3em);
}

html {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Fira Code', monospace;
    scrollbar-gutter: stable;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

* + p {
    margin-top: 1rem;
}

* + button {
    margin-top: 2rem;
}

button {
    font: inherit;
}

::-webkit-scrollbar {
    background-color: var(--dark);
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 999px;
    border: 2px solid var(--dark);
}


