:root {
    --black: #0F1115;
    --white: #F5F5F5;
    --dark: #1A1E26;
    --red: #FF2965;
    --blue: #00FFD8;
    --yellow: #FFF208;

    --measure: 60ch;
}

html {
    background-color: var(--black);
    color: var(--white);
}

html, body {
    padding: 0;
    margin: 0;
}

html, body, #app {
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: var(--dark);
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 999px;
    border: 2px solid var(--dark);
}


